@use '@angular/material' as mat;
@use './assets/theme-colors' as my-theme;
@include mat.core();
// Theme created using
// https://github.com/angular/components/blob/main/src/material/schematics/ng-generate/theme-color/README.md

:root {
  --emerald: #5fba6f;
  --smoky-black: #0e0906;
  --castleton: #02604d;
  --light-blue: #abd2d8;
  --seasalt: #f8f7f9;
}
$veridian-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: (
      brand-family: 'ABeeZee',
      plain-family: 'Roboto, sans-serif',
    ),
  )
);
$veridian-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: (
      brand-family: 'ABeeZee',
      plain-family: 'Roboto, sans-serif',
    ),
  )
);
.light {
  @include mat.all-component-themes($veridian-light-theme);
}
.dark {
  @include mat.all-component-themes($veridian-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  // General styling
  .abeezee-regular {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .abeezee-regular-italic {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  p {
    margin: 0;
  }
  .main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: var(--mat-sidenav-content-background-color);
  }
  .app-container {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      width: max-content;
    }
  }

  // Specific styling
  .mat-toolbar h2 {
    font-weight: 500;
    margin: 0;
  }

  button[matButton] {
    border-radius: 10px;
  }

  .dashboard-grid {
    display: grid;
    gap: 16px;
    padding: 24px;
    // Create a responsive grid that shows as many cards as fit
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    // .machine-card {
    //   // You can add specific card styles here later
    // }
  }
}
