.dark-medium-contrast {
  --md-sys-color-primary: rgb(159 235 210);
  --md-sys-color-surface-tint: rgb(137 213 189);
  --md-sys-color-on-primary: rgb(0 44 34);
  --md-sys-color-primary-container: rgb(83 158 136);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(148 241 160);
  --md-sys-color-on-secondary: rgb(0 45 14);
  --md-sys-color-secondary-container: rgb(95 186 111);
  --md-sys-color-on-secondary-container: rgb(0 34 9);
  --md-sys-color-tertiary: rgb(199 238 244);
  --md-sys-color-on-tertiary: rgb(7 50 55);
  --md-sys-color-tertiary-container: rgb(171 210 216);
  --md-sys-color-on-tertiary-container: rgb(24 63 68);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 19);
  --md-sys-color-on-background: rgb(224 227 224);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 71 74);
  --md-sys-color-on-surface-variant: rgb(219 220 223);
  --md-sys-color-outline: rgb(176 178 181);
  --md-sys-color-outline-variant: rgb(143 144 147);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 224);
  --md-sys-color-inverse-on-surface: rgb(43 42 41);
  --md-sys-color-inverse-primary: rgb(0 82 65);
  --md-sys-color-primary-fixed: rgb(165 242 217);
  --md-sys-color-on-primary-fixed: rgb(0 21 15);
  --md-sys-color-primary-fixed-dim: rgb(137 213 189);
  --md-sys-color-on-primary-fixed-variant: rgb(0 62 49);
  --md-sys-color-secondary-fixed: rgb(154 247 165);
  --md-sys-color-on-secondary-fixed: rgb(0 21 4);
  --md-sys-color-secondary-fixed-dim: rgb(126 218 140);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 64 23);
  --md-sys-color-tertiary-fixed: rgb(194 234 240);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(166 205 211);
  --md-sys-color-on-tertiary-fixed-variant: rgb(20 59 65);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(70 68 67);
  --md-sys-color-surface-container-lowest: rgb(8 7 7);
  --md-sys-color-surface-container-low: rgb(31 29 29);
  --md-sys-color-surface-container: rgb(41 39 39);
  --md-sys-color-surface-container-high: rgb(52 50 50);
  --md-sys-color-surface-container-highest: rgb(63 61 60);
}
